/* reference styles for edn-editor */

.malli-editor-or-choices,
.malli-editor-orn-choices,
.malli-editor-multi-choices,
.malli-editor-extra-keys-title {
    color: #8f8dac;
    display: flex;
    flex-wrap: wrap;
}

.malli-editor-btn span {
    cursor: pointer;
    color: white;
    text-decoration: none;
    padding-left: 0.5em;
    padding-right: 0.5em;
    background: #b9b8cb;
    border-radius: 0.1em;
}

.malli-editor-btn span:hover {
    background: #9b9ab5;
}

.malli-editor {
    font-family: monospace;
    color: #151640;
    line-height: 2;
}

.malli-editor input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    border: 1px solid #b9b8cb;
}

.malli-editor input:focus {
    outline: none;
    border-color: #8887a3;
}

.malli-editor-invalid {
    background: #fc9483;
}

.malli-editor select {
    font-family: inherit;
    font-size: inherit;
}

.malli-editor select:focus {
    outline: none;
    border-color: #8887a3;
}

.malli-editor-example h2 {
    font-family: monospace;
}

.malli-editor-maybe,
.malli-editor-brackets,
.malli-editor-key-value,
.malli-editor-set-elements,
.malli-editor-vector-elements,
.malli-editor-sequential-elements,
.malli-editor-extra-keys-elements {
    display: flex;
}

.malli-editor-bracket-close {
    align-self: flex-end;
}

.malli-editor-value {
    margin-left: 0.5em;
}

.malli-editor-add-keys {
    display: flex;
    flex-flow: row wrap;
}

.malli-editor-multi-select {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.malli-editor-dispatch-key {
    color: #8f8dac;
}